#links {
    float: left;
    background-color: white;
    height: 180px;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 15%;
    text-align: center;
    border: double solid;
    text-decoration: none;
    font-size: 20px;
}

#links:hover {
    background-color: burlywood;
}

#ou {
    text-align: right;
}

h1 {
    text-align: center;
    color: azure;
    font-weight: bold;
    text-decoration: underline;
}

#pic1 {
    width: 200px;
    height: 200px;
}

#pic2 {
    width: 200px;
    height: 200px;
}

body {
    background-color: crimson;
}

#projectpage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 50%;
    border: 3px solid black;
}

#aboutme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 60%;
    border: 3px solid black;
}

#aboutme:hover {
    transition: transform .5s ease-in-out;
    transform: rotate(1080deg) scale(.5);
    background-color: burlywood;
}

#skillpagecol1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 50%;
    border: 3px solid black;
}

#skillpagecol1:hover {
    transition: transform .5s ease-in-out;
    transform: rotate(1080deg) scale(.5);
    background-color: burlywood;
}

li {
    text-align: left;
}

#homepage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 3px solid black;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 50%;
}

#homepage:hover {
    transition: transform .5s ease-in-out;
    transform: rotate(1080deg) scale(.5);
    background-color: burlywood;
}
